body {
  font-family: "Times New Roman", monospace;
  text-transform: uppercase;
  min-height: 400px;
  /* background-image: url("https://images8.alphacoders.com/713/713774.jpg"); */
  background-color: #09000c;
  background-size: 175vh;
  background-position: center;
  background-repeat: no-repeat;
}

.page-title {
  color: #ffffff;
  text-align: center;
  margin: 0 0 5px;
  margin-top: 60px;
}

.page-subtitle {
  color: #ffffff;
  text-align: center;
  margin-top: 5px;
}

.textual {
  color: #ffffff;
  text-align: center;
}

.page-logo {
  width: 200px;
}


input {
  margin: 12px;
  padding: 6px;
  border-radius: 5px;
}

label {
  color: white;

}

button {
  margin-top: 12px;
  padding: 4px 8px;
  border-radius: 10px;
  background: #ffffff;
}

h1 {
font-size: 60px;

}

h2 {
  color: #ffffff;
  font-size: 30px;
}
h3 {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
}

