body {
  font-family: "Times New Roman", monospace;
  text-transform: uppercase;
  min-height: 400px;
  background-image: url("https://images8.alphacoders.com/713/713774.jpg");
  background-color: #000000;
  background-size: 175vh;
  background-position: center;
  background-repeat: no-repeat;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.flex-container > div {
  margin: 5%;
  min-width: 30%;
  height: 100vh;
  text-align: center;
}
.page-title {
  color: #ffffff;
  text-align: center;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  text-align: center;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}


input {
  margin: 12px;
  padding: 6px;
  border-radius: 5px;
}

label {
  color: white;
}

button {
  margin-top: 12px;
  padding: 4px 8px;
  border-radius: 10px;
  background: #ffffff;
}

h2, h3 {
  color: #ffffff;
  font-size: 30px;
}
